<div class="card item col s12 m6" >
    <div class="card-content ">

            <!-- TODO: show image if already assigned -->
            <div class="modal-container">
                <!--Modal trigger-->
                <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Add picture</a>
                <img class="selected-image hidden-image" src=""/>
                <input type="hidden" name="eventitem[image_id][]" class="image-id" value="1"/>
            </div>

            <a class="delete-item" href="#" style="float: right">X</a>
            <input type="hidden" value="{{id}}" name="eventitem[id][]" value="">
            <input type="hidden" value="0" name="eventitem[delete][]" class="to-delete" />
        <div class="row">
            <div class="input-field">
            <label for="name">Item à ajouter :</label>
            <input length="20" name="eventitem[name][]" type="text" value="{{name}}" required minlength="2">
            </div>
        </div>
        <div class="row">
            <div class="input-field">
            <label for="qty_asked">Quantité :</label>
            <input name="eventitem[qty_asked][]" type="number" value="{{qty_asked}}" required min="0.0" step="0.1">
            </div>
        </div>
    </div>
</div>
