.item{
    margin-right: 15px !important;
    max-width: 300px;
    padding: 0px;
}
#itemsContainer{
    padding: 0px;
}
#addButton {
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.hidden-image{
    display: none !important;
}
.selected-image{
    width: 65px;
    height: auto;
    margin-bottom: 10px !important;
    display: block;
    margin: auto;
}
.btn{
    margin-bottom: 10px !important;
}