body {
    background:#e8e8e8;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


#custom-bar-title{
    font-size: 1rem;
    font-style: italic;
}

#logo-bar{
    margin-left:10px;
}


#main-app-container{
    min-height: 80%;
}

.error{
    background: red;
    color:white;
}

