.qty-input{
    width: 40px;
}

.indicator {
    background-color: #00c853 !important;
}

.item-image {
    width: 65px !important;
    padding: 15px !important;
    padding-top: 30px !important;
}

.card-content {
    width: 100%;
}

.card-item{
    margin-left:5px !important;
}

.tabs{
    background: #e8e8e8 !important;
}

.tab a{
    color: #00c853 !important;
}

.card-action {
    height: 70px;
}

.item-qty-taken{
    width: 25px;
}
#modifiyItem{
    float: right !important;
}